{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit nemo ratione 
            explicabo hic quod voluptatem placeat culpa, ab quisquam ut architecto in voluptates 
            perspiciatis repudiandae sequi officiis quaerat. Fugiat, eius.</p>
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Iniciar sesion
            </a>
            <a class="btn btn-dark" href="/signup/">
                Registrarse
            </a>
        </div>
    </section>
</main>
{% endblock %}